<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="\css\styles.css" />
    <link rel="stylesheet" href="\css\cart_style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap%22 "
      rel="stylesheet"
    />

    <title>BookBuster</title>
  </head>

  <body>
    <header>
      <section class="top-header">
        <nav class="menu-oculto">
          <ul class="opciones-menu">
            <li><a href="#">Manga</a></li>
            <li><a href="#">Comics</a></li>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Merchandising</a></li>
          </ul>

          <ul class="logeo-menu">
            <li><a href="/register">Creá tu cuenta</a></li>
            <li><a href="/login">Inicia sesión</a></li>
          </ul>
        </nav>
        <div class="menu">
          <i class="fa fa-bars burger"></i>
        </div>
        <div class="logo">
          <a href="/"
            ><img src="images/dia-mundial-del-libro.png" alt="Logo"
          /></a>
          <p>BookBuster</p>
        </div>
        <div class="carrito">
          <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </section>
      <div class="barra-busqueda">
        <input
          type="text"
          placeholder="Buscar Libros por palabra clave / titulo / autor / ISBN"
          required
        />
        <div class="btn">
          <i class="fab fa-sistrix"></i>
        </div>
      </div>
    </header>
    <div class="item_container">
      <div class="title">
        <h1>Tu carrito</h1>
      </div>

      <div class="product">
        <div class="img_product">
          <img src="\images\spyxfamily06.jpg" alt="" />
        </div>
        <div class="product_info">
          <h2>spy x family 06</h2>
          <div class="price">
            <p>$550</p>
          </div>
          <div class="product_units">
            <select class="select" id="">
              <option value="value1">1 unit</option>
              <option value="value2" selected>2 unit</option>
              <option value="value3">3 unit</option>
            </select>
          </div>
        </div>
        <div class="btn_delete">
          <button class="delete"><i class="fas fa-trash"></i></button>
        </div>
      </div>
      <div class="subtotal">
        <div class="envio">
          <select class="send" id="">
            <option value="value1" selected hidden>Envios a:</option>
            <option value="value2">envio a CABA</option>
            <option value="value3">envio a AMBA</option>
            <option value="value4">envio a Envio Sucursal</option>
          </select>
          <!-- <label for="send">envio <i class="fas fa-truck-moving"></i></label>
          <input class="check" type="checkbox" id="send" /> -->
        </div>
        <p>Subtotal (sin envio): $550</p>
      </div>
      <!-- <div class="send_options" id="send_options">
        <div class="op1 op">
          <input type="checkbox" id="caba" />
          <label for="caba">Envio a caba</label>
        </div>
        <div class="op2 op">
          <input type="checkbox" id="interior" />
          <label for="interior">Envio a interior</label>
        </div>
        <div class="op3 op">
          <input type="checkbox" id="sucursal" />
          <label for="sucursal">Envio a sucursal</label>
        </div>
      </div> -->

      <form class="form_buy" action="">
        <button>Comprar</button>
      </form>
    </div>

    <footer>
      <div class="container">
        <div class="sec-descrip">
          <h2>BookBuster</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            dolore necessitatibus ut id sint nisi molestias dicta temporibus
            explicabo dolores, porro repudiandae quam ipsum nemo illo
            voluptatem! Culpa, soluta libero?
          </p>
          <ul class="sci">
            <li>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram" _mstvisible="2"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <div class="Mas-Info">
          <h2>Mas Informacion</h2>
          <ul>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Quiénes somos</a></li>
          </ul>
        </div>
        <div class="medios-pago">
          <h2>MEDIOS DE PAGO</h2>
          <article>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fas fa-credit-card"></i>
            <i class="fas fa-money-bill-alt"></i>
          </article>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <p>© 2021 BookBuster Ltd.UK Número de registro de la empresa: 5124926</p>
    </section>
  </body>
</html>
