<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <!--Compatibilidad con el navegador EDGE-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CDN_Font-awesome(ICONOS)-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />

    <!--Estilos CSS-->
    <link rel="stylesheet" href="css/StyleHome.css" />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Home</title>
  </head>
  <body>
    <!--ENCABEZADO-->
    <header>
      <section class="top-header">
        <nav class="menu-oculto">
          <ul class="opciones-menu">
            <li><a href="#">Manga</a></li>
            <li><a href="#">Comics</a></li>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Merchandising</a></li>
          </ul>

          <ul class="logeo-menu">
            <li><a href="/register">Creá tu cuenta</a></li>
            <li><a href="/login">Inicia sesión</a></li>
          </ul>
        </nav>
        <div class="menu">
          <i class="fa fa-bars burger"></i>
        </div>
        <div class="logo">
          <a href="/"
            ><img src="images/dia-mundial-del-libro.png" alt="Logo"
          /></a>
          <p>BookBuster</p>
        </div>
        <div class="carrito">
          <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </section>
      <div class="barra-busqueda">
        <input
          type="text"
          placeholder="Buscar Libros por palabra clave / titulo / autor / ISBN"
          required
        />
        <div class="btn">
          <i class="fab fa-sistrix"></i>
        </div>
      </div>
    </header>

    <!--SLIDER-->
    <div class="slider">
        <ul>
            <li>
                <img src="images/spyxfamily02.jpg">
            </li>
            <li>
                <img src="images/spyxfamily03.jpg">
            </li>
            <li>
                <img src="images/spyxfamily06.jpg">
            </li>
            <li>
                <img src="images/spyxfamily07.jpg">
            </li>
        </ul>
    </div>

    <!--SECCION DE PRODUCTOS-->
    <main>
      <h2>NOVEDADES</h2>
      <section class="Productos-relacionados">
          
          <article>
              <img src="images/spyxfamily02.jpg" alt="spyxfamily02">
              <div class="main-product">
                  
                  <h3>Spy x Family 02 <i class="fas fa-book"></i></h3>
                  <p>$550</p>
                  <form action="/views/home.html" method="POST">
                  <input type="submit" class="btn3" value="Agregar al carrito">
                  </form>
              </div>
          </article>

          <article>
              <img src="images/spyxfamily03.jpg" alt="spyxfamily02">
              <div class="main-product">
                  <h3>Spy x Family 03 <i class="fas fa-book"></i></h3>
                  <p>$550</p>
                  <form action="/views/home.html" method="POST">
                  <input type="submit" class="btn3" value="Agregar al carrito">
                  </form>
              </div>
          </article>

          <article>
              <img src="images/spyxfamily06.jpg" alt="spyxfamily02">
              <div class="main-product">
                  
                  <h3>Spy x Family 06 <i class="fas fa-book"> </i></h3>
                  <p>$550</p>
                  <form action="/views/home.html" method="POST">
                  <input type="submit" class="btn3" value="Agregar al carrito">
                  </form>
              </div>
          </article>

          <article>
              <img src="images/spyxfamily07.jpg" alt="spyxfamily02">
              <div class="main-product">
                  
                  <h3>Spy x Family 07 <i class="fas fa-book"></i></h3>
                  <p>$550</p>
                  <form action="/views/home.html" method="POST">
                  <input type="submit" class="btn3" value="Agregar al carrito">
                  </form>
              </div>
          </article>
      </section>
  </main>


    <!--PIE DE PAGINA-->
    <footer>
      <div class="container">
        <div class="sec-descrip">
          <h2>BookBuster</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            dolore necessitatibus ut id sint nisi molestias dicta temporibus
            explicabo dolores, porro repudiandae quam ipsum nemo illo
            voluptatem! Culpa, soluta libero?
          </p>
          <ul class="sci">
            <li>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram" _mstvisible="2"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <div class="Mas-Info">
          <h2>Mas Informacion</h2>
          <ul>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Quiénes somos</a></li>
          </ul>
        </div>
        <div class="medios-pago">
          <h2>MEDIOS DE PAGO</h2>
          <article>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fas fa-credit-card"></i>
            <i class="fas fa-money-bill-alt"></i>
          </article>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <p>© 2021 BookBuster Ltd.UK Número de registro de la empresa: 5124926</p>
    </section>
  </body>
</html>
