<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    >
    <link rel="stylesheet" href="\css\styles.css">
  </head>
 
  <body class="body-login">
    <header>
      <section class="top-header">
        <nav class="menu-oculto">
          <ul class="opciones-menu">
            <li><a href="#">Manga</a></li>
            <li><a href="#">Comics</a></li>
            <li><a href="#">Libros</a></li>
            <li><a href="#">Merchandising</a></li>
          </ul>
  
          <ul class="logeo-menu">
            <li><a href="/register">Creá tu cuenta</a></li>
            <li><a href="/login">Inicia sesión</a></li>
          </ul>
        </nav>
        <div class="menu">
          <i class="fa fa-bars burger"></i>
        </div>
        <div class="logo">
          <a href="/"
            ><img src="images/dia-mundial-del-libro.png" alt="Logo"
          /></a>
          <p>BookBuster</p>
        </div>
        <div class="carrito">
          <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </div>
      </section>
      <div class="barra-busqueda">
        <input
          type="text"
          placeholder="Buscar Libros por palabra clave / titulo / autor / ISBN"
          required
        />
        <div class="btn">
          <i class="fab fa-sistrix"></i>
        </div>
      </div>
    </header>

    
    <main class="main-login">
      <div class="login-container">
        <div class="login-info-container">
          <h1 class="titulo">Iniciar Sesion</h1>
          <div class="social-login">
            <div class="social-login-element">
              <img src="images/google.svg" alt="google-image" />
              <p>Google</p>
            </div>
            <div class="social-login-element">
              <img src="images/facebook.svg" alt="facebook-image" />
              <p>Facebook</p>
            </div>
          </div>

          <p>or</p>
          <form class="formulario">
            <input type="text" placeholder="Usuario" />
            <input type="password" placeholder="Contraseña" />
            <button type="submit">Unirse</button>
            <p>No tienes una cuenta?</p>
            <a href="/register">Crea Una</a>
          </form>
        </div>
        <img class="image-container" src="images/login.svg" alt="login" />
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="sec-descrip">
          <h2>BookBuster</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            dolore necessitatibus ut id sint nisi molestias dicta temporibus
            explicabo dolores, porro repudiandae quam ipsum nemo illo
            voluptatem! Culpa, soluta libero?
          </p>
          <ul class="sci">
            <li>
              <a href="#"><i class="fab fa-whatsapp"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-instagram" _mstvisible="2"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
          </ul>
        </div>
        <div class="Mas-Info">
          <h2>Mas Informacion</h2>
          <ul>
            <li><a href="#">Cambios</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Quiénes somos</a></li>
          </ul>
        </div>
        <div class="medios-pago">
          <h2>MEDIOS DE PAGO</h2>
          <article>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <i class="fas fa-credit-card"></i>
            <i class="fas fa-money-bill-alt"></i>
          </article>
        </div>
      </div>
    </footer>
    <section class="copyright">
      <p>© 2021 BookBuster Ltd.UK Número de registro de la empresa: 5124926</p>
    </section>
  </body>
</html>
