* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (min-width: 392px) {
  
}

@media (min-width: 750px) {
  .img_product {
    width: 20%;
    height: auto;
  }

  .subtotal {
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
    width: 90%;
    padding: 5px;
    border: 1px solid rgb(119, 119, 119);
  }
  .subtotal .envio {
    padding: 10px;
  }
  .subtotal p {
    padding: 10px 25px;
  }

  .price p {
    font-size: 5vw;
  }

  .productCart{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0px 50px;
    justify-content: stretch;
    padding: 15px;
  }
  .product_info {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 55%;
    height: 55%;
    margin: auto;
  }
  .productCart h2 {
    font-size: 2rem;
  }
  .send_options {
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    padding: 10px;
    border: 1px solid rgb(119, 119, 119);
    margin: 0px 50px;
  }
  .delete {
    margin-right: 20px;
    font-size: 2.5vw;
    width: 20%;
    height: auto;
  }
}
