*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    background-color: #F4F6F6;
    font-family: 'Bebas Neue', cursive;
    
}
header{
    background-color: #ecebe4;
    width: 100%;
    
    
    padding: 10px 10%;
}
section.top-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}
.logo{
    width: 25%;
}

.logo img{
    width: 100px;
    max-width: 250px;
}

.menu-oculto{
    display: none;
}

.menu{
    background-color: #DADDD8;
    font-size: 35px;
    padding: 5px 10px;
    color:#F4F6F6;
    border-radius: 10px;
}
.carrito a i{
    font-size: 35px;
    color:#F4F6F6;
    background-color: #DADDD8;
    padding: 10px;
    border-radius: 10px;
    
}
.carrito p{
    position: absolute;
    bottom: 0.7px;
}

.barra-busqueda{
    display: flex;
    align-items: baseline;
}
.barra-busqueda input{
    width: 80%;
    height: 40px;
    padding: 0px 20px;
    font-size: 1rem;
    color: #170312;
    /*???*/
    outline: none;
    border: 1px solid #18a999;
    border-radius: 30px;

}
.btn{
    background:#18a999 ;
    position: relative;
    border-radius: 50%;
    padding: 10px 11px;
    font-size: 20px;
    color:#F4F6F6;
}




/*En esta parte se realiza las modificaciones para el footer*/

footer {
    background: #ecebe4;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec-descrip{
    margin-right: 30px;
    margin-bottom: 20px;
}

footer .container  h2 {
    position: relative;
    /*color:#F4F6F6;*/
    color: #170312;
    font-weight: 400;
    margin-bottom: 15px;
}
footer .container h2:before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    left: 0px;
    background: #ED1C24;
}
footer p{
    color:#18a999;
}
.sci{
    margin-top: 25px;
    display: flex;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #18A999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
}
.sci li a:hover{
    background: #2c5364;
}
.sci li a i{
    color:#F4F6F6;
    font-size: 20px;
}
.Mas-Info{
    
    position: relative;
    margin-bottom: 20px;
}
.Mas-Info  ul li{
    list-style: none;
}
.Mas-Info  ul li a{
    text-decoration: none;
    color:#18a999;
    margin-bottom: 10px;
    display: inline-block;
}
.Mas-Info  ul li a:hover{
    color:#2c5364;
}

.medios-pago{
    margin-bottom: 20px;
}
.medios-pago article i{
    font-size: 35px;
    color: #ED1C24;
    display: inline-block;
    margin-right: 5px;  
}
section.copyright{
    background: #DADDD8;
    padding: 5px;
    width: 100%;
}
section.copyright p{
    text-align: center;
}





@media (min-width: 760px) {

    
    div.spyFma{
        width: 90%;
    }
    div.detalle-prod{
        margin:50px;
    }
    main h2 {
        font-size: 45px;
        text-align: center;
        margin: 30px 0;
    }
    span.descrip-oculto{
        display: block;
    }

    main section.Productos-relacionados article {
        width: 310px;
    }
    
    article img {
        max-width: 310px;
    }

}

@media (min-width: 1200px){
    .detallesDelProd{
        display:flex;
        justify-content: space-between;  
    }
    div.spyFma{
        width: 40%;
    }
    div.detalle-prod{
        width: 60%;
    }



    /*Footer responsive*/
    footer .container .sec-descrip{
        width: 40%;
    }
    .Mas-Info{
        width: 25%;
    }
}